In [6]:
import pandas as pd

df = pd.read_csv(r"C:\Users\moham\Downloads\customer_shopping_behavior.csv")

In [7]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [9]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [10]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [11]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [12]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [13]:
#df.columns = df.columns.str.strip()
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df= df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'})

In [14]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [15]:
(df['age'].dtype)
#(bins)

dtype('int64')

In [16]:
#create a coulmn age_group
bins=[0,19,35,55,100]
labels=['Teen','Adult','Middle-age','Senior']
df['age_group']=pd.cut(df['age'], bins=bins, labels=labels,)

In [17]:
df[['age','age_group']].head(20)

    age   age_group
0    55  Middle-age
1    19        Teen
2    50  Middle-age
3    21       Adult
4    45  Middle-age
5    46  Middle-age
6    63      Senior
7    27       Adult
8    26       Adult
9    57      Senior
10   53  Middle-age
11   30       Adult
12   61      Senior
13   65      Senior
14   64      Senior
15   64      Senior
16   25       Adult
17   53  Middle-age
18   52  Middle-age
19   66      Senior

In [18]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [19]:
# create column purchase_frequency_days in numbers

frequency_mapping={
    'Fortnightly':14,
      'Weekly':7, 
      'Monthly':30,
      'Quarterly':90,
      'Annually':365,  'Bi-Weekly':14,
        'Every 3 Months':90
}

df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [20]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [21]:
df[['discount_applied','promo_code_used']].head()
(df['discount_applied']==df['promo_code_used']).all()

True

In [22]:
df=df.drop('promo_code_used',axis=1)

In [23]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [24]:
cust= df.groupby('customer_id').agg({'purchase_amount':'sum',  'purchase_frequency_days':'mean'}).reset_index()
cust.head()

   customer_id  purchase_amount  purchase_frequency_days
0            1               53                     14.0
1            2               64                     14.0
2            3               73                      7.0
3            4               90                      7.0
4            5               49                    365.0

In [25]:
cust.columns=['customer_id', 'monetary','engagement_days']

In [26]:
cust.dtypes

customer_id          int64
monetary             int64
engagement_days    float64
dtype: object

In [27]:
cust['m_score']= pd.qcut(cust['monetary'],3,labels=[1,2,3])

cust['e_score']= pd.qcut(cust['engagement_days'],3,labels=[3,2,1],duplicates='drop')

In [28]:
#customer segmentation 
def segment(row):
    if row['m_score']==3 and row['e_score']==3:
      return 'High Value'
    elif row['e_score']==1:
     return 'At Risk'
    else:
     return'Regular'
    
cust['segment']=cust.apply(segment,axis=1)

In [29]:
cust['segment'].value_counts()

segment
Regular       2796
At Risk        572
High Value     532
Name: count, dtype: int64

In [30]:
cust.to_csv("customer_segmented.csv", index=False)

In [31]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [33]:
#df.drop('purchase_frequency_num',axis=1,inplace=True)

In [34]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [35]:
cust.head()

   customer_id  monetary  engagement_days m_score e_score     segment
0            1        53             14.0       2       3     Regular
1            2        64             14.0       2       3     Regular
2            3        73              7.0       2       3     Regular
3            4        90              7.0       3       3  High Value
4            5        49            365.0       2       1     At Risk

In [ ]:
pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\moham\appdata\local\programs\python\python311\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\moham\appdata\local\programs\python\python311\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\moham\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\moham\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\moham\appdata\local\programs\python\python311\lib\site-packages (9.5.0)Note: you may need to restart the kernel to use updated packages.

In [ ]:

from sqlalchemy import create_engine
#MySQL connection
username = "root"
password ="Mrn-7866"
host ="localhost"
port = "3306"
database="customer_behaviour"

engine= create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

#Write DataFrame to MySQL
table_name = "customer" # choose any table name

df.to_sql(table_name, engine, if_exists="replace", index=False)
#Read back sample

pd.read_sql("SELECT * FROM customer LIMIT 5;", engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-age,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Teen,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-age,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-age,365